My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "0593e22a-189a-4353-af20-fd76c12caeb6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Create 1 ultra-short, funny joke or catchy quote in under 15 words, perfect for a viral YouTube Short, that hooks viewers immediately.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        208,
        0
      ],
      "id": "db98c54f-35e9-4579-8506-0b5065605f59",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        176
      ],
      "id": "fd461bf0-72a8-4c81-a9e5-4a07cb7b2355",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hXGDBeAblvYCWBB3",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/videos/search?query=nature&orientation=portrait&size=small&per_page=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "droJ1HQKbMOZI5tbxQJSDikmhvvZDwWZoyt7efxMkNJRrFYAl2hrpWBU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "id": "9488be39-e52d-4e69-bbdf-d21e72046740",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{$json[\"videos\"][0][\"video_files\"][0][\"link\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        0
      ],
      "id": "69b4dade-3b07-4903-9880-99a4ad5d9451",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "viral",
        "regionCode": "IN",
        "categoryId": "19",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "96983645-5912-4e8b-abe6-36e72736b2a0",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "6mqH3fwCNqMFebmy",
          "name": "YouTube account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ef45821-0f8b-4534-af54-e845f48a1506",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34ce752e70e8028ad2773741d39e5d5c7c9c6acdc42fadb21f7b387494da435c"
  },
  "id": "eS6FH2scc2B3w0SA",
  "tags": []
}